@import "variables";

body{
background-color: $main-color;
    he20%;ader{
        background-color: $secondary-color;
            .name{
                position: absolute;
                left: 20%;
            }
            .title{
                position: absolute;
                top: 3%;
                left: 
            }
    }
}
