@import "variables";

body{
    background-color: $main-color;
}

header{
    background-color: $second-color;
    height: 100px;
        .name{
            position: absolute;
            left: 20%;
            top: 3%;
            color: $main-font-color
        }
        .title{
            position: absolute;
            top: 6%;
            left: 20%;
            color: $main-font-color;
        }
        i {
            color:orange;
            padding:0 10px;
        }
        
        ul {
            list-style-type: none;
        }
        .nav ul {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
            font-size:0px;
        }
        .nav ul li {
            font-size:12pt;
            display:inline-block;
            padding:15px;
            transition: all 0.2s ease-in-out;
        }
        .nav ul li a {
            font-family: FontAwesome;
            color:#eee;
            font-size:22pt;
            text-decoration: none;
        }
        .nav ul .home .about .code .contact {
            background: black;
        }
        
        .nav ul li i {
            display: block;
        }
        .nav ul li a {
            display: none;
        }
        .nav ul li:hover i {
            display: none;
        }
        .nav ul li:hover a {
            display: block;
        }
        .nav a:hover {
            color: #fff;
        }
}
