@import "variables";

body{
    background-color: $main-color;
}

header{
    background-color: $second-color;
    height: 100px;
        .name{
            position: absolute;
            left: 20%;
            top: 3%;
            color: $main-font-color
        }
        .title{
            position: absolute;
            top: 6%;
            left: 20%;
            color: $main-font-color;
        }
        .navigation{
            position: absolute;
            left:73%;
            top: 3%;
            color: white;
            
            .navigation-link{
                padding-left: 10px;
                color: $main-color;
                display: none;
            }
            .home,.skill,.about{
                color: $main-color;
                padding: 20px;
            }
            .home {
                left: 10%,
            }
            .skill{
                left: 45%;
            }
            .about{
                left: 75%;
                
            }
        }.home:hover a{
            display: block;
        }
}
