@import "variables";

body{
    background-color: $main-color;
}

header{
    background-color: $second-color;
    height: 150px;
        .name{
            position: absolute;
            left: 20%;
            top: 3%;
        }
        .title{
            position: absolute;
            top: 6%;
            left: 20%;
        }
}
