@import"variables";

/*body{
    background-color: $main-color;
}*/
header{
    background-color: skyblue;
    .name{
        position: absolute;
        left: 20%;
    }
    .title{
        position: absolute;
        top:3%;
        left: 20%;
    }
}

